@model Modelo.Customer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-Center">
    <h1>Cadastro de Consumidor</h1>
    <div class="container">
        <form id="formCustomer" method="post" asp-action="Create" asp-controller="Customer">

            <div class="row">
                <div class="form-group">
                    <label asp-for="@Model.Name">Nome:</label>
                    <input type="text" class="form-control" asp-for="@Model.Name" />
                </div>
            </div>

            <button id="bntCustomer" type="submit" class="btn btn-primary" value="Cadastrar">
                Cadastrar
            </button>
        </form>
    </div>
</div>