@{
    ViewData["Title"] = "Menu Principal";
}

<h1>Menu de Funções Recursivas</h1>

<ul>
    <li><a asp-controller="Recursivo" asp-action="Imprimir">Imprimir N até 1</a></li>
    <li><a asp-controller="Recursivo" asp-action="Somar">Somar de 1 até N</a></li>
    <li><a asp-controller="Recursivo" asp-action="ContarCaracteres">Contar Caracteres</a></li>
    <li><a asp-controller="Recursivo" asp-action="Palindromo">Verificar Palíndromo</a></li>
</ul>
