@model List<Modelo.Customer>

<a asp-action="Create" asp-controller="Customer" class="btn btn-light">
    Novo Customer
</a>

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Modelo.Customer customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        Não existem registros de Customer
    </div>
}